.footer
    .row
        %a.logo{:href => 'index.html'}
            %img{:src => '../images/erisyon-logo.svg'}
        - data.sections.items.each do |section|
            %a.footer-button{:href => section[:url]}
                = section[:name]
    .row
        %span.copyright
            Copyright Erisyion Inc. ©2020 All rights reserverd
        %a{:href => 'https://twitter.com/erisyon', :target => '_blank'}
            %img.twitter{:src => '../images/twitter.svg'}
