@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 300;
  color: black;
  margin-block-start: 72px;
  margin-block-end: 72px;
  width: 100%;
}

h1.white {
  color: white;
}

.center {
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  color: #404040;
  margin-block-start: 60px;
  margin-block-end: 60px;
  width: 100%;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin-block-start: 60px;
  margin-block-end: 60px;
  width: 100%;
}

p {
  line-height: 30px;
}

p a {
  text-decoration: none;
  color: #FF7C00;
}

p a:hover {
  text-decoration: underline;
}

/* NAV_BAR */

.nav-bar {
  display: flex;
  align-items: flex-end;
  background-color: #002e5f;
  height: 90px;
  padding: 0 60px;
  transition: all 0.25s;
  position: sticky;
  top: 0;
}

.nav-bar.scrolled {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.nav-bar .logo {
  margin-right: auto;
  margin-bottom: 12px;
}

.nav-bar a {
  color: white;
}

.nav-bar .logo img {
  width: 120px;
}

.nav-bar .nav-button {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 18px;
  transition: all 0.25s;
  border-bottom: 2px transparent solid;
}

.nav-bar .nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-bar .nav-button.current {
  border-bottom: 2px #FF7C00 solid;
}

/* FOOTER */

.footer {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 24px;
  background-color: #002e5f;
  color: white;
  padding: 24px 60px;
}

.footer a {
  color: white;
}

.footer .row {
  display: flex;
  padding-right: 24px;
}

.footer .logo {
  margin-right: auto;
}

.footer .logo img {
  width: 120px;
}

.footer .footer-button {
  padding: 12px;
  transition: all 0.25s;
}

.footer .footer-button:hover {
  opacity: 0.5;
}

.footer .footer-button:last-child {
  margin-right: 0;
  padding-right: 0;
}

.footer .twitter {
  transition: all 0.25s;
}

.footer .twitter:hover {
  opacity: 0.5;
}

.footer .copyright {
  opacity: 0.5;
  font-size: 12px;
  margin-right: auto;
}

/* CONTENT */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  width: 100%;
  padding: 60px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.block > * {
  max-width: 1200px;
}

.stars {
  content: '';
  background: url(../images/stars.png);
  background-size: contain;
  background-repeat: repeat-x;
  background-origin: border-box;
  width: 100%;
  height: 720px;
}

.stars + * {
  margin-top: -720px;
}

.orange {
  background-color: #FF7C00;
}

.grey {
  background-color: #ECF1F6;
}

.box {
  background-color: white;
  padding: 0 60px 60px 60px;
}

.shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.grid-h {
  display: grid;
  grid-auto-columns: 1fr;
  column-gap: 120px;
  justify-content: space-between;
  width: 100%
}

.grid-h > * {
  grid-row: 1;
}

.grid-h .item {
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.grid-h .item .icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 24px;
  align-self: stretch;
  height: 300px;
}

.grid-h .item .icon.frame {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: 2px #404040 solid;
  align-self: center;
}

.grid-h .item .title {
  font-size: 36px;
  font-weight: 700;
  color: #404040;
  margin-bottom: 30px;
}

.grid-h .item .description {
  font-size: 24px;
  color: #404040;
  margin-bottom: 24px;
}

.grid-h .item .more {
  font-size: 24px;
  border-radius: 4px;
  border: 2px #404040 solid;
  padding: 6px 18px;
  transition: all 0.25s;
  background-color: white;
  margin-top: auto;
}

.box .item .more:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.box .item a.more {
  color: #404040;
}

.fluorosequencing .table {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto 1fr;
  justify-content: center;
  column-gap: 60px;
  row-gap: 30px;
}

.fluorosequencing .table .logo {
  grid-column: 1;
  grid-row: 1;
}

.logo.shadow {
  width: 220px;
  border-radius: 16px;
  display: grid;
  grid-template-rows: 60px;
  grid-auto-rows: 30px;
  row-gap: 12px;
  padding: 24px;
}

.logo.shadow .picture {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.fluorosequencing .table p {
  grid-column: 1;
  grid-row: 2;
}

.fluorosequencing .table .diagram {
  grid-column: 2;
  grid-row: 1 / 3;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.fluorosequencing h2 {
  margin-block-start: 120px;
}

.fluorosequencing .grid-h {
  margin-bottom: 48px;
}

.fluorosequencing .grid-h .item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.fluorosequencing .grid-h .item .icon {
  border-radius: 16px;
  border: 1px black solid;
  overflow: hidden;
  height: 160px;
  margin: 30px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fluorosequencing .grid-h .item .title {
  font-weight: 700;
  font-size: 24px;
  margin: 12px;
}

.center {
  text-align: center;
}

.zigzag {
  display: grid;
  grid-auto-rows: 1fr;
  row-gap: 48px;
}

.zig,
.zag {
  display: grid;
  grid-template-columns: 1fr 420px;
  align-items: center;
  column-gap: 180px;
  font-size: 30px;
  line-height: 42px;
  font-weight: 300;
}

.zag {
  grid-template-columns: 420px 1fr;
}

.zig .gradient,
.zag .gradient {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
  align-self: stretch;
  justify-self: stretch;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(236,241,246,1) 100%);
  padding: 30px;
}

.zig .gradient {
  background: linear-gradient(90deg, rgba(236,241,246,1) 0%, rgba(255,255,255,1) 100%);
}

.zig .picture,
.zag .picture {
  min-height: 240px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.zig p,
.zag p {
  font-size: 18px;
}

.news {
  background-color: white;
  border-radius: 18px;
  width: 100%;
  padding: 48px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 30px;
  row-gap: 12px;
  margin-bottom: 24px;
}

.news:last-child {
  margin-bottom: 0;
}

.news .icon {
  grid-column: 1;
  width: 72px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.news .logo {
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 2;
  height: 90px;
}

.news .description {
  grid-column: 2;
  color: #999;
  font-weight: 300;
  font-size: 30px;
}
.news .more {
  grid-column: 3;
  grid-row: 1 / 3;
  align-self: center;
}

.more {
  background-color: #FF7C00;
  padding: 12px 18px;
  border-radius: 4px;
  transition: all 0.25s;
  margin: 60px;
}

.more:hover {
  background-color: #df6c00;  
}

a.more {
  color: white;
}

/* TECHNOLOGY */

.key-concept {
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-h .item .title.small {
  font-size: 18px;
}

.rule {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #D5D5D6;
  margin: 60px 0;
}

.diagram-big {
  background-size: contain;
  background-repeat: no-repeat;
  width: 1200px;
  height: 720px;
  margin: 60px 0;
}

.comparison {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 18px;
}

.comparison .table {
  padding: 30px;
  border-radius: 16px;;
}

.comparison .table.cross {
  border: 2px #79ACD0 solid;
  margin: 30px 0;
}

.comparison .table.check {
  border: 4px #FF7C00 solid;  
}

.comparison .table span {
  font-weight: 700;
}

.comparison .table ul {
  font-size: 14px;
  padding-inline-start: 0;
}

.comparison .table li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 18px 0;
}

.comparison .table li:before {
  margin-right: 12px;
}

.comparison .table.cross li:before {
  background-image: url('../images/cross.png');
}

.comparison .table.check li:before {
  background-image: url('../images/check.png');
}

.comparison .table li:before {
  content: '';
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}