@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 1.25;
}

@media only screen and (max-width: 2560px) {
  html, body {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1366px) {
  html, body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 840px) {
  html, body {
    font-size: 10px;
  }
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}

@media only screen and (max-width: 840px) {
  body {
    padding-top: 48px;
  }
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.42em;
  font-weight: 600;
  color: black;
  margin-block-start: 0;
  margin-block-end: 1.25em;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 840px) {
  h1 {
    font-size: 2.14em;
    margin-block-start: 0;
  }
}

h1.white {
  color: white;
}

.center {
  text-align: center;
}

h2 {
  font-size: 2.14em;
  line-height: 1.5;
  font-weight: 400;
  color: #404040;
  margin-block-start: 0;
  margin-block-end: 2.14em;
  width: 100%;
}

@media only screen and (max-width: 840px) {
  h2 {
    font-size: 1.7em;
    margin-block-end: 1.7em;
  }
}

h3 {
  font-size: 1.7em;
  line-height: 1.5;
  font-weight: 700;
  color: black;
  margin-block-start: 0;
  margin-block-end: 1.7em;
  width: 100%;
}

p {
  color: #404040;
  line-height: 1.5;
}

@media only screen and (max-width: 840px) {
  html, body {
    font-size: 14px;
  }
}

p a {
  text-decoration: none;
  color: #FF7C00;
}

p a:hover {
  text-decoration: underline;
}

/* NAV_BAR */

.nav-bar {
  display: flex;
  align-items: flex-end;
  background-color: #3A437E;
  width: 100vw;
  height: 90px;
  padding: 0 60px;
  transition: all 0.25s;
  position: fixed;
  top: 0;
  z-index: 1;
}

@media only screen and (max-width: 840px) {
  .nav-bar {
    padding: 0 18px;
    height: 48px;
    align-items: start;
  }
}

.nav-bar.show,
.nav-bar.scrolled {
  box-shadow: 0 5px 10px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.15);
}

.nav-bar .logo {
  margin-right: auto;
  margin-bottom: 12px;
}

@media only screen and (max-width: 840px) {
  .nav-bar .logo {
    margin-top: 12px;
    margin-bottom: 0;
  }
}

.nav-bar a {
  color: white;
}

.nav-bar .logo img {
  width: 120px;
}

@media only screen and (max-width: 840px) {
  .nav-bar .logo img {
    width: unset;
    height: 24px;
  }
}

.nav-bar .buttons {
  display: flex;
}

@media only screen and (max-width: 840px) {
  .nav-bar .buttons {
    margin: 12px 0 18px 0;
    align-self: start;
    align-items: flex-end;
    flex-direction: column;
  }
}

.nav-bar .nav-button {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 18px;
  transition: all 0.25s;
  border-bottom: 2px transparent solid;
}

@media only screen and (max-width: 840px) {
  .nav-bar .nav-button {
    display: none;
    padding: 12px 0 12px 18px;
  }

  .nav-bar.show {
    height: unset;
  }

  .nav-bar.show .nav-button {
    display: inline-block;
    padding-right: 18px;
    margin-right: -18px;
  }
}

.nav-bar .nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-bar .nav-button.current {
  border-bottom: 2px #FF7C00 solid;
  border-right: none;
}

@media only screen and (max-width: 840px) {
  .nav-bar .nav-button.current {
    border-bottom: none;
    border-right: 2px #FF7C00 solid;
  }
}

.nav-bar .menu {
  content: url('../images/menu.svg');
  width: 24px;
  height: 24px;
  display: none;
  margin-bottom: 24px;
}

.nav-bar.show .menu {
  content: url('../images/close.svg');
}

@media only screen and (max-width: 840px) {
  .nav-bar .menu {
    display: inline-block;
  }
}

/* FOOTER */

.footer {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 24px;
  background-color: #3A437E;
  color: white;
  padding: 24px 60px;
}

@media only screen and (max-width: 840px) {
  .footer {
    padding: 12px 18px;
    row-gap: 0;
  }
}

.footer a {
  color: white;
}

.footer .row {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

@media only screen and (max-width: 840px) {
  .footer .row {
    padding-right: 0;
  }
}

.footer .logo {
  margin-right: auto;
}

.footer .logo img {
  width: 120px;
}

@media only screen and (max-width: 840px) {
  .footer .logo img {
    width: unset;
    height: 24px;
  }
}

.footer .footer-button {
  padding: 12px;
  transition: all 0.25s;
}

@media only screen and (max-width: 840px) {
  .footer .footer-button {
    display: none;
  }
}

.footer .footer-button:hover {
  opacity: 0.5;
}

.footer .footer-button:last-child {
  margin-right: 0;
  padding-right: 0;
}

.footer .twitter {
  transition: all 0.25s;
}

.footer .twitter:hover {
  opacity: 0.5;
}

.footer .copyright {
  opacity: 0.5;
  font-size: 0.86;
  margin-right: auto;
}

/* CONTENT */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.block {
  width: 100%;
  padding: 3.42em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

@media only screen and (max-width: 840px) {
  .block {
    padding: 30px 18px;
  }
}

.block.collapse {
  padding-bottom: 0;
}

.block > * {
  max-width: 75%;
}

@media only screen and (max-width: 1366px) {
  .block > * {
    max-width: 900px;
  }
}

.block.purple {
  height: fit-content;
  content: '';
  background-color: #3A437E;
  background-size: contain;
  background-repeat: repeat-x;
  background-origin: border-box;
  width: 100%;
  padding-bottom: 0;
}

.block.purple + * {
  margin-top: 0;
}

.block.half {
  padding: 0;
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(58,67,126,1) 50%);
}

.orange {
  background-color: #FF7C00;
}

.grey {
  background-color: #F0F5FF;
}

.box {
  background-color: white;
  padding: 48px;
}

@media only screen and (max-width: 840px) {
  .box {
    padding: 18px;
  }
}

.box h1 {
  margin-block-start: 0;
  margin-block-end: 3.42em;
}

.box h2 {
  margin-block-start: 0;
  margin-block-end: 1.7em;
}

.shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.10);
}

.zigzag {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 48px;
  margin-bottom: 78px;
}

@media only screen and (max-width: 840px) {
  .zigzag {
    margin-bottom: 30px;
  }
}

.zigzag .zig,
.zigzag .zag {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 420px;
  align-items: center;
  column-gap: 60px;
  font-weight: 400;
}

@media only screen and (max-width: 840px) {
  .zigzag .zig,
  .zigzag .zag {
    grid-template-columns: 1fr !important;
    row-gap: 18px;
  }
  .zigzag .zig > *,
  .zigzag .zag > * {
    grid-column: 1 !important;
  }
}

.zigzag .zag {
  grid-template-columns: 420px 1fr;
}

.zigzag .content {
  font-size: 1.14em;
  line-height: 1.5;
}

.zigzag .title {
  font-size: 1.7em;
  line-height: 1.25;
}

.zigzag .gradient {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  overflow: hidden;
  align-self: stretch;
  justify-self: stretch;
  background: linear-gradient(90deg, #F0F5FF 0%, white 100%);
}

.zigzag .zig .gradient {
  background: linear-gradient(90deg, white 0%, #F0F5FF 100%);
  grid-column: 2;
  grid-row: 1;
}

.block.grey .zigzag .zig .gradient {
  background: linear-gradient(90deg, #F0F5FF 0%, white 100%);
}

.block.grey .zigzag .zag .gradient {
  background: linear-gradient(90deg, white 0%, #F0F5FF 100%);
}

@media only screen and (max-width: 840px) {
  .zigzag .gradient {
    border-radius: 24px;
  }

  .zigzag .zig .gradient,
  .zigzag .zag .gradient {
    background: #F0F5FF;
    margin-bottom: 18px;
  }

  .block.grey .zigzag .zig .gradient,
  .block.grey .zigzag .zag .gradient {
    background: white;
  }
}

.zigzag .title {
  width: 100%;
}

.zigzag .zag .content {
  grid-column: 2;
  grid-row: 1;
}

.zigzag .picture {
  min-height: 240px;
  width: 100%;
  height: 100%;
  padding: 48px;
  background-origin: content-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 840px) {
  .zigzag .gradient .picture {
    width: 100%;
    padding: 18px;
  }

  .zigzag .zig .gradient,
  .zigzag .zag .gradient {
    grid-column: 1;
    grid-row: 1;
  }
  
  .zigzag .zig .content,
  .zigzag .zag .content {
    grid-column: 1;
    grid-row: 2;
  }
}

.zigzag p {
  font-size: 1em;
  line-height: 1.5;
}

/* HOME */

.home-grid {
  display: grid;
  grid-auto-columns: 1fr;
  column-gap: 48px;
  width: 100%
}

@media only screen and (max-width: 480px) {
  .home-grid {
    grid-auto-columns: unset;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 30px;
    align-items: stretch;
    padding: 12px 0;
    font-size: 14px;
  }
}

.home-grid > * {
  grid-row: 1;
}

@media only screen and (max-width: 480px) {
  .home-grid > * {
    grid-row: unset;
    grid-column: 1;
  }
}

.home-grid .item {
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: all 0.5s;
}

@media only screen and (max-width: 480px) {
  .home-grid .item {
    grid-row: unset;
    display: grid;
    grid-template-columns: 120px 1fr;
    column-gap: 18px;
    text-align: left;
    width: 100%;
  }
}

.home-grid .item:hover {
  background-color: #F0F5FF;
}

.home-grid .item .icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 24px 0;
  align-self: stretch;
  height: 300px;
}

@media only screen and (max-width: 480px) {
  .home-grid .item .icon {
    margin: 0;
    height: 180px;
    align-self: end;
  }
}

.home-grid .item .icon.frame {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px #404040 solid;
  align-self: center;
  padding: 30px;
  background-origin: content-box;
}

@media only screen and (max-width: 480px) {
  .home-grid .item .icon.frame {
    width: 120px;
    height: 120px;
    padding: 12px;
  }
}

.home-grid .item .title {
  font-size: 2.14em;
  font-weight: 400;
  color: #404040;
  margin-bottom: 18px;
}

.home-grid .item .description {
  color: #404040;
}

.logo.shadow {
  width: 300px;
  border-radius: 16px;
  display: grid;
  grid-template-rows: 60px 48px;
  row-gap: 12px;
  padding: 24px;
}

.logo.shadow .picture {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.fluorosequencing .table p {
  grid-column: 1;
  grid-row: 2;
}

.fluorosequencing .table .diagram {
  grid-column: 2;
  grid-row: 1 / 3;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 840px) {
  .fluorosequencing .table .diagram {
    height: 420px;
  }
}

.fluorosequencing h2 {
  margin-block-start: 2em;
}

.fluorosequencing {
  margin-top: 48px;
}

.fluorosequencing .table {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto 1fr;
  justify-content: center;
  column-gap: 60px;
  row-gap: 30px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 840px) {
  .fluorosequencing .table {
    display: block;
    grid-auto-rows: auto;
  }
}

.fluorosequencing .table .logo {
  grid-column: 1;
  grid-row: 1;
}

@media only screen and (max-width: 840px) {
  .fluorosequencing .table .logo {
    width: 100%;
  }
}

.fluorosequencing-grid {
  display: grid;
  grid-auto-columns: 1fr;
  column-gap: 48px;
  width: 100%;
  margin-bottom: 48px;
}

@media only screen and (max-width: 480px) {
  .fluorosequencing-grid {
    grid-auto-columns: unset;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 30px;
    align-items: stretch;
    padding: 12px 0;
  }
}

.fluorosequencing-grid > * {
  grid-row: 1;
}

@media only screen and (max-width: 480px) {
  .fluorosequencing-grid > * {
    grid-row: unset;
    grid-column: 1;
  }
}

.fluorosequencing-grid .item {
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: all 0.5s;
}

@media only screen and (max-width: 480px) {
  .fluorosequencing-grid .item {
    grid-row: unset;
    display: grid;
    grid-template-columns: 120px 1fr;
    column-gap: 18px;
    text-align: left;
    width: 100%;
    padding: 0;
  }

  .fluorosequencing-grid .item:last-child {
    margin-bottom: 0;
  }
}

.fluorosequencing-grid .item .icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 24px;
  align-self: stretch;
  height: 160px;
  border: 1px #979797 solid;
  border-radius: 16px;
}

@media only screen and (max-width: 480px) {
  .fluorosequencing-grid .item .icon {
    margin-bottom: 0;
    height: 120px;
    align-self: end;
  }
}

.fluorosequencing-grid .item .title {
  font-size: 1.42em;
  font-weight: 700;
  color: #404040;
  margin-bottom: 18px;
  margin: 12px;
}

@media only screen and (max-width: 480px) {
  .fluorosequencing-grid .item .title {
    margin: 0;
  }
}

.fluorosequencing-grid .item .description {
  color: #404040;
}

.center {
  text-align: center;
}

.news {
  background-color: white;
  border-radius: 18px;
  width: 100%;
  padding: 48px;
  display: grid;
  grid-template-columns: 36px 1fr auto;
  column-gap: 30px;
  row-gap: 12px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 840px) {
  .news {
    padding: 18px;
    grid-template-columns: 36px 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 18px;
    row-gap: 18px;
    margin-bottom: 24px;
  }
}

.news:last-child {
  margin-bottom: 0;
}

.news .icon {
  grid-column: 1;
  width: 100%;
  background-size: contain;
  background-position-y: top;
  background-repeat: no-repeat;
}

.news .logo {
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 2;
  height: 60px;
}

@media only screen and (max-width: 840px) {
  .news .logo {
    height: 42px;
  }
}

.news .description {
  grid-column: 1 / 3;
  font-size: 1.7em;
  line-height: 1.5;
}

.news .button {
  grid-column: 3;
  grid-row: 1 / 3;
  align-self: center;
}

@media only screen and (max-width: 840px) {
  .news .button {
    grid-column: 1 / 3;
    grid-row: 3;
    align-self: center;
    justify-self: stretch;
  }
}

.button {
  background-color: #FF7C00;
  padding: 18px 30px;
  transition: all 0.25s;
  text-align: center;
}

.button:hover {
  background-color: #df6c00;  
}

a.button {
  color: white;
}

/* TECHNOLOGY */

.key-concept {
  margin-bottom: 12px;
  width: 100%;
}

.technology-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 48px;
  align-items: stretch;
  justify-items: stretch;
  width: 100%;
  margin-bottom: 78px;
}

@media only screen and (max-width: 480px) {
  .technology-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 48px;
  }
}

.technology-grid .item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .technology-grid .item {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    text-align: left;
    width: 100%;
  }
}

.technology-grid .item .icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 24px;
  align-self: stretch;
  height: 300px;
}

@media only screen and (max-width: 480px) {
  .technology-grid .item .icon {
    margin-bottom: 0;
    height: 180px;
    align-self: end;
  }
}

.rule {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #D5D5D6;
  margin: 60px 0;
}

.diagram-big {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  margin: 60px 0;
}

.columns {
  columns: 2;
  column-gap: 60px;
}

@media only screen and (max-width: 840px) {
  .columns {
    columns: 1;
  }
}

.comparison {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 18px;
}

@media only screen and (max-width: 480px) {
  .comparison {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 18px;
    width: 100%;
  }
}

.comparison .table {
  padding: 30px;
  border-radius: 16px;
}

@media only screen and (max-width: 480px) {
  .comparison .table {
    padding: 18px;
  }
}

.comparison .table.cross {
  border: 2px #79ACD0 solid;
  margin: 30px 0;
}

@media only screen and (max-width: 480px) {
  .comparison .table.cross {
    margin: 0;
  }
}

.comparison .table.check {
  border: 4px #FF7C00 solid;  
}

@media only screen and (max-width: 480px) {
  .comparison .table.check {
    grid-row: 3;
  }
}

.comparison .table span {
  font-weight: 700;
}

.comparison .table ul {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1em;
  padding-inline-start: 0;
}

.comparison .table li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 18px 0;
}

@media only screen and (max-width: 480px) {
  .comparison .table li {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}

.comparison .table li:before {
  margin-right: 12px;
}

.comparison .table.cross li:before {
  background-image: url('../images/cross.svg');
}

.comparison .table.check li:before {
  background-image: url('../images/check.svg');
}

@media only screen and (max-width: 840px) {
  .comparison .table li:before {
    width: 24px !important;
    height: 24px !important;
  }
}

.comparison .table li:before {
  content: '';
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.button.video {
  color: white;
  background-color: #3A437E;
  position: relative;
  padding-left: 60px;
}

.button.video:hover {
  background-color: #2e3667;
}

.button.video::before {
  content: '';
  background-image: url(../images/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 12px;
  top: 9px;
}

.videoPlayer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.85);
}

.videoPlayer.hidden {
  display: none;
}

.videoPlayer video {
  width: calc(100% - 144px);
}

@media only screen and (max-width: 840px) {
  .videoPlayer video {
    width: calc(100% - 36px);
  }
}

/* APPLICATIONS */

.multiply {
  mix-blend-mode: multiply;
}

.additional {
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 30px;
  row-gap: 60px;
}

@media only screen and (max-width: 480px) {
  .additional {
    grid-template-columns: 1fr;
    row-gap: 48px;
    justify-items: center;
  }
}

.additional .picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px #003264 solid;
  padding: 30px;
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  .additional .picture {
    width: 120px;
    height: 120px;
    padding: 18px;
  }
}

.additional .title {
  font-size: 2.14em;
}

/* ABOUT */

.erisyon-bar {
  height: 48px;
  background-image: url(../images/erisyon-bar.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  margin-bottom: 60px;
  margin-left: -48px
}

@media only screen and (max-width: 840px) {
  .erisyon-bar {
    height: 30px;
    margin-left: -18px;
    margin-bottom: 30px;
  }
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 90px;
  row-gap: 90px;
}

@media only screen and (max-width: 480px) {
  .team {
    grid-template-columns: 1fr 1fr;
    column-gap: 18px;
    row-gap: 18px;
  }
}

@media only screen and (max-width: 840px) {
  .team {
    column-gap: 30px;
    row-gap: 30px;
  }
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team .member .picture {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

@media only screen and (max-width: 480px) {
  .team .member .picture {
    width: 120px;
    height: 120px;
    margin-bottom: 12px;
  }
}

.team .member .name {
  font-weight: 600;
}

.team .member .role {
  font-weight: 300;
}

.papers {
  border-radius: 16px;
  background-color: white;
  width: 100%;
  padding: 60px;
}

@media only screen and (max-width: 840px) {
  .papers {
    padding: 18px 18px 0 18px;
  }
}

.papers .paper {
  display: grid;
  grid-template-columns: 36px 1fr 240px;
  column-gap: 30px;
  border-bottom: 2px #DDD solid;
  padding: 30px 0;
  align-items: start;
}

@media only screen and (max-width: 840px) {
  .papers .paper {
    grid-template-columns: 36px 1fr;
    column-gap: 18px;
    padding: 18px 0;
  }
}

.papers .paper:last-child {
  border-bottom: none;
}

.papers .paper .icon {
  align-self: stretch;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: top;
  min-height: 72px;
}

.papers .paper .description {
  font-weight: 400;
  font-size: 1.28em;
  line-height: 1.25;
  color: #404040;
}

@media only screen and (max-width: 840px) {
  .papers .paper .description {
    margin-bottom: 30px;
  }
}

.papers .paper .button {
  margin: 0;
  width: 240px;
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 840px) {
  .papers .paper .button {
    width: 100%;
    grid-column: 1 / 3;
  }
}

/* CONTACT */

input[type=text],
input[type=email],
textarea {
  background-color: rgba(255, 255, 255, 0.7);;
  width: 100%;
  border: 1px #D5D5D6 solid;
  margin: 10px;
  padding: 10px;
  height: 48px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.14em;
}

@media only screen and (max-width: 840px) {
  input[type=text],
  input[type=email],
  textarea {
    margin: 10px 0;
  }
}

textarea {
  min-height: 144px;
  resize: none;
}

input[type=text]::placeholder,
input[type=email]::placeholder,
textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.14em;
  color: #9D9EA0;
}

input[type=submit] {
  cursor: pointer;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.14em;
  background-color: #FF7C00;
  padding: 18px 18px;
  transition: all 0.25s;
  margin: 40px auto auto auto;
  border: none;
  width: 240px;
  display: flex;
  justify-content: center;
  appearance: none;
}