---
title: Erisyon - About
section: About
---
.stars.short
.block
    %h1.white.center
        Charting the new era of proteomics
    .box.shadow
        %p
            Erisyon Inc. is commercializing the world’s first single molecule protein sequencer that promises to revolutionize the study of proteins. The technology brings many of the features of next generation genomic sequencing (NGS) to the field of proteomics such as high sensitive identification, high throughput and digital quantification of protein molecules in a biological sample. Applications for a proteomic platform technology exist in multiple billion dollar markets, from therapies and diagnostics for immuno-oncology to improvement in crop yields.
            %br
            Inheriting work developed over the course of the past decade at the University of Texas Center for Systems and Synthetic Biology in Austin, Erisyon was founded in March 2018 by a group of technologists and entrepreneurs with the ambition to usher in new discoveries that make the world healthier, safer, and button abundant.
.block
    %h1.center
        Our Team
    .team
        .member
            .picture{:style => "background-image:url(./images/tsomekh.jpg);"}
            .name
                Talli Somekh
            .role
                CEO
        .member
            .picture{:style => "background-image:url(./images/abardo.jpg);"}
            .name
                Angela Bardo PhD
            .role
                VP of Product
        .member
            .picture{:style => "background-image:url(./images/zsimpson.jpg);"}
            .name
                Zack Simpson
            .role
                VP of Informatics
        .member
            .picture{:style => "background-image:url(./images/jswaminathan.jpg);"}
            .name
                Jag Swaminathan PhD
            .role
                CTO
        .member
            .picture{:style => "background-image:url(./images/eanslyn.jpg);"}
            .name
                Prof Eric Anslyn
            .role
                UT Austin
        .member
            .picture{:style => "background-image:url(./images/emarcotte.jpg);"}
            .name
                Prof Edward Marcotte
            .role
                UT Austin
.block.orange
    .papers.shadow
        %h3
            Papers and Reference Literature
        .paper
            .icon{:style => "background-image:url(./images/docs.png)"}
            .description
                “Highly Parallel Single-Molecule Identification of Proteins in Zeptomole-Scale Mixtures”
                %br
                %i
                    –Nature Biotechnology
            %a.button{:href => "https://www.nature.com/", :target => "_blank"}
                View Press Release
        .paper
            .icon{:style => "background-image:url(./images/docs.png)"}
            .description
                “Solid-phase peptide capture and release for bulk and single-molecule proteomics”
                %br
                %i
                    –ACS Chemical Biology
            %a.button{:href => "https://pubs.acs.org/journal/acbcct", :target => "_blank"}
                View Paper
        .paper
            .icon{:style => "background-image:url(./images/docs.png)"}
            .description
                “A Theoretical Justification For Single Molecule Peptide Sequencing”
                %br
                %i
                    –PLOS Computational Biology
            %a.button{:href => "https://journals.plos.org/ploscompbiol/", :target => "_blank"}
                View Paper
        .paper
            .icon{:style => "background-image:url(./images/docs.png)"}
            .description
                “Solution-Phase and Solid-Phase Sequential, Selective Modification of Side Chains in KDYWEC and KDYWE as Models for Usage in Single-Molecule Protein Sequencing”
                %br
                %i
                    –Royal Society of Chemistry
            %a.button{:href => "https://www.rsc.org/", :target => "_blank"}
                View Paper