---
title: Erisyon - Applications
section: Applications
---
.block.purple
    %h1.white.center
        Erisyon technologies are uniquely suited to address some key disease challenges
.block
    .zigzag
        .zig
            .gradient
                .picture.multiply{:style => "background-image:url(./images/app-1.png);"}
            .content
                .title
                    Early detection and diagnosis of Parkinson’s disease
                %p
                    Parkinson’s disease (PD) is a neurodegenerative disorder that is typically diagnosed when 60% of a brain region’s dopaminergic neurons have already degenerated. With an aging population and lack of effective therapies, massive efforts are underway to develop molecular biomarkers and diagnose the condition decades’ earlier (michaeljfox.org). Sensitive and accurate diagnostic tests would offer the best bet for early detection, monitoring the progression of the disease, design clinical trials and establish better therapeutic approaches to treating the disease. Fluorosequencing, a parallelized single molecule peptide sequencing technology, is an alternate platform technology for biomarker detection owing to its intrinsic features of high sensitive detection and absolute quantification.
        .zag   
            .gradient
                .picture.multiply{:style => "background-image:url(./images/app-2.png);"}
            .content
                .title
                    Direct detection of antigen proteins for better immune-oncology treatments
                %p
                    By being able to directly identify single peptide molecules, Erisyon offers the promise for cataloguing the peptides displayed by the cancerous cell. For the purpose of antigen discovery fluorosequencing can obtain partial peptide sequences of the antigens isolated by the tumor biopsy/expanded cells. Utilizing the patient’s HLA information in the prediction algorithms along with the mutated exome sequences found in the tumor cells, the partial peptide sequences can be mapped to identify the antigenic peptides arising from the mutated proteins in the tumor cells. These directly confirmed neoantigens can then be synthesized and used as the target required for endogenous T-cell therapy.
        .zig   
            .gradient
                .picture.multiply{:style => "background-image:url(./images/app-3.png);"}
            .content
                .title
                    Revealing the camouflage viruses use to evade the immune system
                %p
                    A virus’s mutation may add, delete, or reposition asparagine amino acids, which in turn can alter the glycosylation positions and patterns of a virus. As part of pandemic preparedness, the glyco-signature of zoonotic viruses collected from non-human animal species can be monitored and catalogued prior to their interspecies leap. These signatures can be compared to or assayed against human models to predict how infectious they may or may not be. If a virus is deemed to have a human vector, then tests, treatments, and vaccines can be developed well before an outbreak occurs.
        .zag   
            .gradient
                .picture.multiply{:style => "background-image:url(./images/app-4.png);"}
            .content
                .title
                    Protein biomarker discovery and PTM mapping
                %p
                    Cardiac Troponin I (cTnI) is an important protein biomarker found to be elevated in the bloodstream during heart disorders, such as myocardial infarctions. However, the elevated levels are also observed under non cardiac related conditions such as after severe endurance exercises, renal failures, sepsis and so on. The sensitivity of the diagnostic assay was improved to 82% when the phosphorylation levels of cTnI in the blood were measured for an acute coronary syndrome study. Multiple studies have revealed more than 14 potential sites of phosphorylation for this protein and some (for example Ser 23/24) have been implicated site- specific roles in various cardiac functions and diseases. It is thus highly likely that mapping the phosphorylated states of all the residues would help discriminate the different causes for elevation in the levels of troponin technology to map and measure the heterogeneous sites of phosphorylated troponin, present in low levels in the bloodstream would greatly enable access to the protein for research studies and potentially form the basis of a diagnostic assay with increased sensitivity and specificity for a range of cardiac dysregulations.
.block.grey
    %h1
        Additional Applications
    .additional
        .picture{:style => "background-image:url(./images/additional-1.svg);"}
        %div
            .title
                Plant Breeding
            %p
                Plant’s respond to stress through the addition or alteration of existing proteins through post translational modifications (PTMs) to regulate metabolism or enable inter- or intra- cell signaling. The Erisyon technology’s ability to elucidate PTMs, particularly phosphorylation, is a powerful tool in understanding how to breed better crops in order to withstand stress like biological pathogens or drought.
        .picture{:style => "background-image:url(./images/additional-2.svg);"}
        %div
            .title
                Drug Development
            %p
                Proteins are the targets of the majority of drugs in development today, whether those drugs are small molecules or biologics. However, the process of understanding how those drugs interact with the protein is time consuming, laborious, and often inconclusive. With Erisyon's ability to determine the precise positions of post-translational modifications and the reactive amino acids on a molecule by molecule basis, an entirely new way of understanding drug interactions can be achieved
        .picture{:style => "background-image:url(./images/additional-3.svg);"}
        %div
            .title
                Industrial Biology
            %p
                Enzymes are increasingly being applied to improve all areas from making our water safer to our clothes cleaner. These catalytic proteins are environmentally friendly and more efficient than the chemical additives that they replace. With more efficient and precise sequencing, Erisyon can help develop better enzymes for more industrial applications.
        