---
title: Erisyon - Applications
section: Applications
---
.block.purple
    %h1.white.center
        Erisyon technologies are uniquely suited to address some key disease challenges
.block
    .zigzag
        .zig
            .gradient
                .picture.multiply{:style => "background-image:url(../images/app-1.png);"}
            .content
                .title
                    Early detection and diagnosis of Parkinson’s disease
                %p
                    Parkinson’s disease (PD) is a debilitating neurodegenerative disorder that affects an estimated 1 million sufferers in the United States alone. With an aging population and lack of effective therapies, massive efforts are underway to develop molecular biomarkers and diagnose the condition decades’ earlier (michaeljfox.org). Sensitive and accurate diagnostic tests would offer the best bet for early detection, monitoring the progression of the disease, design clinical trials and establish better therapeutic approaches to treating the disease. Fluorosequencing, a parallelized single molecule peptide sequencing technology, is an alternate platform technology for biomarker detection owing to its intrinsic features of high sensitive detection and absolute quantification.
        .zag   
            .gradient
                .picture.multiply{:style => "background-image:url(../images/app-2.png);"}
            .content
                .title
                    Direct detection of antigen proteins for better immune-oncology treatments
                %p
                    Antigens are protein signals that a cell presents to the immune system to express its state of health. Cancerous cells express mutated antigens, known as neoantigens, are promising targets the emerging field of T-Cell Receptor (TCR) therapies that leverage the immune system's inate ability to eradicate disease. Existing proteomic techniques lack the sensitivity and fidelity required for direct detection of neoantigens, hampering the effective application of these potential cures. Erisyon's Fluorosequencing technology overcomes these limitations and has the potential to unleash some of medicine's most promising solutions to stop cancer. 
        .zig   
            .gradient
                .picture.multiply{:style => "background-image:url(../images/app-3.png);"}
            .content
                .title
                    Revealing the camouflage viruses use to evade the immune system
                %p
                    One way that a virus like SARS-CoV-2 evades the immune system is by decorating it's envelope with sugars in a process known as glycosylation. These sugars act as a camoflage, hiding the virus from the body's defenses. Fluorosequencing can help with pandemic preparedness by identifying glycolation patterns of zoonotic viruses before they move between species. These signatures can be compared to or assayed against human models to predict how infectious they may or may not be. If a virus is deemed to have a human vector, then tests, treatments, and vaccines can be developed well before an outbreak occurs.
.block.grey
    %h1
        Additional Applications
    .additional
        .picture{:style => "background-image:url(../images/additional-1.svg);"}
        %div
            .title
                Plant Breeding
            %p
                Plant’s respond to stress through the addition or alteration of existing proteins through post translational modifications (PTMs) to regulate metabolism or enable inter- or intra- cell signaling. The Erisyon technology’s ability to elucidate PTMs, particularly phosphorylation, is a powerful tool in understanding how to breed better crops in order to withstand stress like biological pathogens or drought.
        .picture{:style => "background-image:url(../images/additional-2.svg);"}
        %div
            .title
                Drug Development
            %p
                Proteins are the targets of the majority of drugs in development today, whether those drugs are small molecules or biologics. However, the process of understanding how those drugs interact with the protein is time consuming, laborious, and often inconclusive. With Erisyon's ability to determine the precise positions of post-translational modifications and the reactive amino acids on a molecule by molecule basis, an entirely new way of understanding drug interactions can be achieved
        .picture{:style => "background-image:url(../images/additional-3.svg);"}
        %div
            .title
                Industrial Biology
            %p
                Enzymes are increasingly being applied to improve all areas from making our water safer to our clothes cleaner. These catalytic proteins are environmentally friendly and more efficient than the chemical additives that they replace. With more efficient and precise sequencing, Erisyon can help develop better enzymes for more industrial applications.
        