---
title: Erisyon - Contact
section: Contact
---
.block.purple
    %h1.white.center
        We are open to discuss early instrument access and collaboration
.block.grey
    %form{:name => 'contact', :data => {:netlify => 'true'}, :netlify => {:honeypot => 'captcha'}}
        %p.hidden
            %input{:name => 'captcha'}
        %input{:placeholder => 'Enter your name…', :name => 'name', :type => 'text', :required => true}
        %input{:placeholder => 'Enter your email…', :name => 'email', :type => 'email', :required => true}
        %textarea{:placeholder => 'Message…', :name => 'message', :required => true}
        %input{:type => 'submit', :value => 'Send'}
