---
title: Erisyon
section: Home
---
.purple
    %h1.white.center
        Introducing the world’s first single molecule protein sequencer
.block.half.collapse
    .box.shadow
        %h2.center
            Erisyon’s next generation proteomics will transform our approach to disease management
        .home-grid
            %a.item{:href => "javascript:scrollTo('breakthrough-applications')"}
                .icon.frame{:style => "background-image:url(./images/icon-detect.svg);"}
                .item-content
                    .title
                        Detect
                    .description
                        Ultra-wide dynamic range for liquid biopsy diagnostics
            %a.item{:href => "javascript:scrollTo('breakthrough-applications')"}
                .icon.frame{:style => "background-image:url(./images/icon-treat.svg);"}
                .item-content
                    .title
                        Treat
                    .description
                        Better and more accurate therapeutic selection
            %a.item{:href => "javascript:scrollTo('breakthrough-applications')"}
                .icon.frame{:style => "background-image:url(./images/icon-track.svg);"}
                .item-content
                    .title 
                        Track
                    .description
                        Disease progression monitoring
.block.fluorosequencing
    %h1
        Breakthough Technology
    .table
        .logo.shadow
            .picture{:style => "background-image:url(./images/fluorosequencing-logo.svg)"}
            .picture{:style => "background-image:url(./images/fluorosequencing-icons.svg)"}
        %p
            Fluorosequencing is a single molecule protein sequencing technology that offers the capability to catalogue and quantify every single peptide and protein molecule present in a biological sample. The technology opens up many applications in biology, such as characterizing the antigenic peptides on clinical tumor biopsies for cancer vaccine therapies, single cell proteomics or early detection of biomarkers in neurodegenerative diseases.
            %a{:href => "technology.html"}
                Learn more
        .diagram{:style => "background-image:url(./images/fluorosequencing-detail.png)"}
    %h3.center
        Next gen genomic advantages now for proteomics
    .fluorosequencing-grid
        .item
            .icon{:style => "background-image:url(./images/icon-sensitivity.svg);"}
            .item-content
                .title
                    Ultimate Sensitivity
                %div
                    Single molecule resolution
        .item
            .icon{:style => "background-image:url(./images/icon-thoroughput.svg);"}
            .item-content
                .title
                    Massively Parallel Throughput
                %div
                    Billions of simultaneous experiments
        .item
            .icon{:style => "background-image:url(./images/icon-quantification.svg);"}
            .item-content
                .title
                    Absolute Quantification
                %div
                    Exact counts of protein abundance
    %a.button{:href => "fluorosequencing.html"}
        Learn more about Fluorosequencing
.block.grey#breakthrough-applications
    %h1
        Breakthrough Applications
    .zigzag
        .zig
            .gradient
                .picture.padding{:style => "background-image:url(./images/breakthrough-1.png);"}
            .content
                Measuring healthy vs pathological alpha-synuclean protein for Parkinson’s diagnostics
        .zag
            .gradient
                .picture.padding{:style => "background-image:url(./images/breakthrough-2.png);"}
            .content
                Direct detection of antigen proteins for better immune-oncology treatments
        .zig    
            .gradient
                .picture.padding{:style => "background-image:url(./images/breakthrough-3.png);"}
            .content
                Revealing the camouflage viruses use to evade the immune system
    %a.button{:href => "applications.html"}
        Learn more about Applications
.block.orange
    .news.shadow
        .icon{:style => "background-image:url(./images/docs.svg)"}
        .logo{:style => "background-image:url(./images/nature-logo.png)"}
        .description
            "News Protein Sequencing Method Could Transform Biological Research"
        %a.button{:href => "#"}
            View Press Release
    .news.shadow
        .icon{:style => "background-image:url(./images/docs.svg)"}
        .logo{:style => "background-image:url(./images/acs-logo.svg)"}
        .description
            "News Protein Sequencing Method Could Transform Biological Research"
        %a.button{:href => "#"}
            View Press Release