---
title: Erisyon
section: Index
---
.stars
.block
    %h1.white.center
        Introducing the world’s first single molecule protein sequencer
    .box.shadow
        %h2.center
            Erisyon’s next generation proteomics will transform our approach to disease management
        .grid-h
            .item
                .icon
                    %img{:src => "./images/icon-detect.png"}
                .title
                    Detect
                .description
                    Ultra-wide dynamic range for liquid biopsy diagnostics
                %a.more{:href => "detect.html"}
                    Learn more
            .item
                .icon
                    %img{:src => "./images/icon-treat.png"}
                .title
                    Treat
                .description
                    Better and more accurate therapeutic selection
                %a.more{:href => "treat.html"}
                    Learn more
            .item
                .icon
                    %img{:src => "./images/icon-track.png"}
                .title 
                    Track
                .description
                    Disease progression monitoring
                %a.more{:href => "track.html"}
                    Learn more
.block.fluorosequencing
    %h1
        Breakthough Technology
    .table
        .logo.shadow
            %img{:src => "./images/fluorosequencing.png"}
        %p
            Fluorosequencing is a single molecule protein sequencing technology that offers the capability to catalogue and quantify every single peptide and protein molecule present in a biological sample. The technology opens up many applications in biology, such as characterizing the antigenic peptides on clinical tumor biopsies for cancer vaccine therapies, single cell proteomics or early detection of biomarkers in neurodegenerative diseases.
            %a{:href => "technology.html"}
                Learn more
        %img.picture{:src => "./images/fluorosequencing-detail.png"}
    %h2.center
        Next gen genomic advantages now for proteomics
    .grid-h
        .item
            .icon
                %img{:src => "./images/icon-sensitivity.png"}
            .title
                Ultimate Sensitivity
            .description
                Single molecule resolution
        .item
            .icon
                %img{:src => "./images/icon-thoroughput.png"}
            .title
                Massively Parallel Throughput
            .description
                Billions of simultaneous experiments
        .item
            .icon
                %img{:src => "./images/icon-quantification.png"}
            .title
                Absolute Quantification
            .description
                Exact counts of protein abundance
    %a.more{:href => "fluorosequencing.html"}
        Learn more about Fluorosequencing
.block.grey
    %h1
        Breakthrough Applications
    .zig
        .description
            Measuring healthy vs pathological alpha-synuclean protein for Parkinson’s diagnostics
        .picture
            %img{:src => "./images/breakthrough-1.png"}
    .zag   
        .picture
            %img{:src => "./images/breakthrough-2.png"}
        .description
            Direct detection of antigen proteins for better immune-oncology treatments
    .zig    
        .description
            Revealing the camouflage viruses use to evade the immune system
        .picture
            %img{:src => "./images/breakthrough-3.png"}
    %a.more{:href => "applications.html"}
        Learn more about Applications
.block.orange
    .news.shadow
        %img.icon{:src => "./images/docs.png"}
        %img.logo{:src => "./images/nature-logo.png"}
        .description
            "News Protein Sequencing Method Could Transform Biological Research"
        %a.more{:href => "nature.html"}
            View Press Release
    .news.shadow
        %img.icon{:src => "./images/docs.png"}
        %img.logo{:src => "./images/acs-logo.png"}
        .description
            "News Protein Sequencing Method Could Transform Biological Research"
        %a.more{:href => "acs.html"}
            View Press Release