---
title: Erisyon
section: Index
---
.block.stars
    %h1
        Introducing the world's first single molecule protein sequencer
    .box.shadow
        %h2
            Erisyon's next generation proteomics will transform our approach to disease management
        .grid-h
            .item
                .icon
                    %img{:src => "./images/icon-detect.png"}
                .title
                    Detect
                .description
                    Ultra-wide dynamic range for liquid biopsy %diagnostics
                %a.more{:href => "detect.html"}
                    Learn more
            .item
                .icon
                    %img{:src => "./images/icon-treat.png"}
                .title
                    Treat
                .description
                    Better and more accurate therapeutic selection
                %a.more{:href => "treat.html"}
                    Learn more
            .item
                .icon
                    %img{:src => "./images/icon-track.png"}
                .title 
                    Track
                .description
                    Disease progression monitoring
                %a.more{:href => "track.html"}
                    Learn more
.block.fluorsequencing
    %h1
        Breakthough Technology
    .table
        .logo.shadow
            %img{:src => "./images/fluorsequencing.png"}
        %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec tincidunt erat, at tempor arcu. Nullam dui metus, tincidunt eu mattis quis, varius eu elit. Proin id suscipit dui. Nullam tincidunt, lectus id semper mattis, arcu nisi euismod nisi, eget pellentesque mauris est ac odio. Mauris finibus nibh augue, ut pulvinar turpis lobortis et. Mauris tincidunt arcu non rhoncus interdum. Nunc tristique non augue a interdum. Cras lacus nisl, bibendum non lectus ac, luctus interdum tortor.
            %a{:href => "technology.html"}
                Learn more
        %img.picture{:src => "./images/fluorsequencing-detail.png"}
    %h2
        Next gen genomic advantages now for proteomics
    .grid-h
        .item
            .icon
                %img{:src => "./images/icon-sensitivity.png"}
            .title
                Ultimate Sensitivity
            .description
                Single molecule resolution
        .item
            .icon
                %img{:src => "./images/icon-thoroughput.png"}
            .title
                Masivelly Parallel Thoroughput
            .description
                Billions of simulations experiments
        .item
            .icon
                %img{:src => "./images/icon-quantification.png"}
            .title
                Absolute Quantification
            .description
                Exact counts of protein abundace
    %a.more{:href => "fluorsequencing.html"}
        Learn more about fluorsequencing
.block.grey
    %h1
        Breakthrough Applications
    .zigzag
        .description
            Measuring healthy vs pathological alpha-synuclean protein for Parkinson's diagnostics
        .picture
            %img{:src => "./images/breakthrough-1.png"}
        .picture
            %img{:src => "./images/breakthrough-2.png"}
        .description
            Direct detection of antigen proteins for better immune oncology treatments
        .description
            Revealing the camouflage viruses use to evade the immune system
        .picture
            %img{:src => "./images/breakthrough-3.png"}
    %a.more{:href => "applications.html"}
        Learn more about Applications
.block
    %h1
        Breakthrough Design
    %img{:src => "./images/proteanseq.png"}
    .description.center
        %b ProteanSeq
        is our revolutionary benchtop alpha system and is in final stages of development
    %a.more{:href => "order.html"}
        Order inquiries
.block.orange
    .news.shadow
        %img.icon{:src => "./images/docs.png"}
        %img.logo{:src => "./images/nature-logo.png"}
        .description
            "News Protein Sequencing Method Could Transform Biological Research"
        %a.more{:href => "nature.html"}
            View Press Release
    .news.shadow
        %img.icon{:src => "./images/docs.png"}
        %img.logo{:src => "./images/acs-logo.png"}
        .description
            "News Protein Sequencing Method Could Transform Biological Research"
        %a.more{:href => "acs.html"}
            View Press Release