---
title: Erisyon - Technology
section: Technology
---
.block.purple
    %h1.white.center
        Fluorosequencing is a proteomics game changer
.block.half.collapse
    .box.shadow
        %h2
            %b
                Key Concept
            %br
            With help from a reference database, only a few amino acids are needed to uniquely identify a protein in the proteome
        %img.key-concept{:src => "../images/key-concept.svg"}
.block
    %h3.center
        Example: Cataloging all the proteins of a single cell
    .technology-grid
        .item
            .title.small
                1. Proteome digested and captured
            .icon{:style => "background-image:url(../images/cataloging-1.png);"}
        .item
            .title.small
                2. Select amino acids fluorescently labeled
            .icon{:style => "background-image:url(../images/cataloging-2.png);"}
        .item
            .title.small
                3. Peptide release
            .icon{:style => "background-image:url(../images/cataloging-3.png);"}
        .item
            .title.small
                4. Fluorosequencing
            .icon{:style => "background-image:url(../images/cataloging-4.png);"}
    .rule
    %a.button.video{:href => "javascript:showVideo()", :style => "margin-top:-6.3em;"}
        Play Fluorosequencing Video
    %img.diagram-big{:src => "../images/diagram.png"}
    %p.columns
        %b
            The key concept of Fluorosequencing as described in this
        %a{:href => "https://www.nature.com/articles/nbt.4278", :target => "_blank"}
            Nature Biotechnology article
        is as follows: A protein sample is digested using a protease resulting in hundreds of millions, even up to billions, of peptides. Several amino acid types on these peptides are selectively and covalently labeled with specific fluorophores that uniquely identify each type. For instance, a cysteine received a fluorophore in the blue channel, a lysine in the green channel, a tyrosine in the yellow channel, and a tryptophan in the red channel. Then the collection of peptides are immobilized on a glass cover slip. An image is then captured that establishes the baseline intensity of each peptide’s fluorescence in each channel. Following the imaging step, an Edman reaction is performed to remove the first (N-terminal) amino acid. Another image is taken to see what changed in each channel intensity. If, for example, there is a step drop in the blue channel, it's been established there was a cysteine in that position. If there was no step drop, then it can be inferred that an unlabeled amino acid was in that position. Subsequent cycles of imaging and Edman chemistry are conducted until the peptides have been exhausted, usually 15-20 cycles. The final product is an incomplete sequence - referred to as a "fluorosequence" - that can be matched against a database to identify which protein the peptide came from.
.block.grey.collapse
    %h1
        Features and benefits
    .zigzag
        .zig
            .gradient
                .picture{:style => "background-image:url(../images/icon-sensitivity.svg);"}
            .content
                .title
                    Single molecule sensitivity
                %p
                    The ability to image and sequence individual peptide molecules makes the technology 1 million times more sensitive than the current state of the art for protein identification, mass-spectrometry. This offers the benefit of using extremely low sample amounts, such as clinical biopsies. This smaller sample requirements, assuming a factor of at least 1000, roughly translates to a difference between needing 1/4th of a pancreas or sampling with a needle for biopsy material.
        .zag   
            .gradient
                .picture{:style => "background-image:url(../images/icon-thoroughput.svg);"}
            .content
                .title
                    Massively parallel architecture
                %p
                    The ability to sequence and independently measure fluorescence from individual peptide molecules tethered to an imaging surface, provides a scalable architecture to achieve a throughput to identify hundreds of millions or even billions of peptide molecules on a single glass slide.
        .zig
            .gradient
                .picture{:style => "background-image:url(../images/icon-heterogeneous.svg);"}
            .content
                .title
                    Characterize highly heterogeneous samples
                %p
                    Since every single molecule measurement is independent of another, fluorosequencing can discriminate peptides and proteins across a large range of heterogeneity and abundances (up to 10^6 range). This means that if there is a single peptide, mixed with 1 million copies of a different peptide, the two peptides can both be identified. This helps identifying peptides existing in extremely diverse backgrounds, such as antigens on tumor surfaces or discriminating low abundant phosphorylation event on a protein.
        .zag   
            .gradient
                .picture{:style => "background-image:url(../images/icon-quantification.svg);"}
            .content
                .title
                    Digital quantification
                %p
                    Unlike other proteomic technologies, where peptides and proteins are quantified relative to a standard (often using known concentrations of itself), quantification in fluorosequencing is done by counting molecular observations. This type of counting statistics makes it possible to compare abundances between proteins in the same sample and across experiments without need for external calibrants.
.block
    %h3.center
        Fluorosequencing vs the competition
    .comparison
        .table.cross
            %span
                DNA/RNA Sequencing
            %ul
                %li
                    Indirect measurement
                %li
                    Diverse set of peptides
                %li
                    Poorly correlated quantification
        .table.check
            %span
                Fluorosequencing Advantages
            %ul
                %li
                    Ultimate sensitivity
                %li
                    Ultra-low sample requirement
                %li
                    Massively parallel throughput
                %li
                    Absolute quantification
                %li
                    De novo PTM discovery
        .table.cross
            %span
                Mass Spectrometry
            %ul
                %li
                    High sample requirement
                %li
                    Sequential processing
                %li
                    PTM low resolution
.videoPlayer.hidden
    %video{:src => "../images/erisyon_fs_animation02.1.m4v", :controls => true}
