---
title: Erisyon - Technology
section: Technology
---
.block.purple
    %h1.white.center
        Fluorosequencing is a proteomics game changer
.block.half.collapse
    .box.shadow
        %h2
            %b
                Key Concept
            %br
            With help from a reference database, only a few amino acids are needed to uniquely identify a protein in the proteome
        %img.key-concept{:src => "../images/key-concept.svg"}
.block
    %h3.center
        Example: Cataloging all the proteins of a single cell
    .technology-grid
        .item
            .title.small
                1. Proteome digested and captured
            .icon{:style => "background-image:url(../images/cataloging-1.png);"}
        .item
            .title.small
                2. Select amino acids fluorescently labeled
            .icon{:style => "background-image:url(../images/cataloging-2.png);"}
        .item
            .title.small
                3. Peptide release
            .icon{:style => "background-image:url(../images/cataloging-3.png);"}
        .item
            .title.small
                4. Fluorosequencing
            .icon{:style => "background-image:url(../images/cataloging-4.png);"}
    .rule
    %a.button.video{:href => "javascript:showVideo()", :style => "margin-top:-6.3em;"}
        Play Fluorosequencing Video
    %img.diagram-big{:src => "../images/diagram.png"}
    %p.columns
        %b
            The key concept of Fluorosequencing
        as described in
        %a{:href => "https://www.nature.com/", :target => "_blank"}
            Nature Biotechnology article
        is as follows: First, one or more amino acid types on the peptides are selectively chemically labeled with specific identifier fluorophores. Millions of individual peptides are then immobilized on a glass cover slip. Next, each molecule’s fluorescence is monitored using total internal reflection fluorescence (TIRF) microscopy following consecutive rounds of amino-terminal (N-terminal) amino acid removal by Edman chemistry. The sequence positions of the labeled amino acids are thus identified for each peptide molecule, providing a partial sequence for each molecule. These fluorescence signatures (“fluorosequences”) can then be compared to a reference proteome for assignment to their proteins of origin.
.block.grey.collapse
    %h1
        Features and benefits
    .zigzag
        .zig
            .gradient
                .picture{:style => "background-image:url(../images/icon-sensitivity.svg);"}
            .content
                .title
                    Single molecule sensitivity
                %p
                    The ability to image and sequence individual peptide molecules makes the technology immediately 1 million times more sensitive than the current peptide mass- spectrometers. This offers the benefit of using extremely low sample amounts, such as clinical biopsies. This smaller sample requirements, assuming a factor of at least 1000, roughly translates to a difference between needing 1/4th of a pancreas or sampling with a needle for biopsy material.
        .zag   
            .gradient
                .picture{:style => "background-image:url(../images/icon-thoroughput.svg);"}
            .content
                .title
                    Massively parallel architecture
                %p
                    The ability to sequence and independently measure fluorescence from individual peptide molecules tethered to an imaging surface, provides a scalable architecture to achieve a throughput to identify billions of peptide molecules on a single glass slide.
        .zig
            .gradient
                .picture{:style => "background-image:url(../images/icon-heterogeneous.svg);"}
            .content
                .title
                    Characterize highly heterogeneous samples
                %p
                    Since every single molecule measurement is independent of another, fluorosequencing platform can discriminate peptides and proteins across a large range of heterogeneity and abundances (up to 10^6 range). This means that if there is a single peptide, mixed with 1 million copies of a different peptide, the two peptides can both be identified. This helps identifying peptides existing in an extremely diverse backgrounds, such as antigens on tumor surfaces or discriminating low abundant phosphorylation event on a protein.
        .zag   
            .gradient
                .picture{:style => "background-image:url(../images/icon-quantification.svg);"}
            .content
                .title
                    Digital quantification
                %p
                    Unlike other proteomic technologies, where peptides and proteins are quantified relative to a standard (often using known concentrations of itself), quantification in fluorosequencing is done by counting molecular observations. This type of counting statistics makes it possible to compare abundances between proteins in the same and across experiments without need for external calibrants.
.block
    %h3.center
        Fluorosequencing vs the competition
    .comparison
        .table.cross
            %span
                DNA/RNA Sequencing
            %ul
                %li
                    Indirect measurement
                %li
                    Diverse set of peptides
                %li
                    Poorly correlated quantification
        .table.check
            %span
                Fluorosequencing Advantages
            %ul
                %li
                    Ultimate sensitivity
                %li
                    Ultra-low sample requirement
                %li
                    Massively parallel throughput
                %li
                    Absolute quantification
                %li
                    De novo PTM discovery
        .table.cross
            %span
                Mass Spectrometry
            %ul
                %li
                    High sample requirement
                %li
                    Sequential processing
                %li
                    PTM low resolution
.videoPlayer.hidden
    %video{:src => "../images/erisyon_fs_animation02.1.m4v", :controls => true}
